# Complex Boundaries

In [93]:
from sklearn import datasets

In [94]:
boston = datasets.load_boston()
X = boston.data
Y = boston.target

In [95]:
import pandas as pd
df = pd.DataFrame(X)
df.columns = boston.feature_names
df["AGE_AGE"] = df.AGE ** 2     # can also write it as df["AGE_AGE"] = df["AGE"] ** 2

# X contains the previous data. so let's make a new X2 that contains the new data with the feature AGE_AGE
X2 = df.values
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_AGE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

In [96]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y, random_state = 0)
X2_train,X2_test,Y2_train,Y2_test = model_selection.train_test_split(X2,Y, random_state = 0)

# SO NOW IT'S GOING TO CREATE EXACTLY THE SAME RANDOM NUMBERS BECAUSE IT'S STARTING FROM THE SAME STATE, SO THE SAME ROWS WILL
# GO INTO WHICHEVER DIRECTION WE TAKE

# IT IS NECESSARY BECAUSE NOT PROVIDING A RANDOM STATE IS NOT A GOOD OPTION WHILE COMPARING AS THE TRAINING DATA OF ONE MIGHT
# BE THE TESTING DATA OF THE OTHER SO IT MIGHT NOT GIVE CORRECT COMPARING RESULTS

# WHAT SPLIT() DOES IT CALLS RANDOM NUMBERS AND THEN SPLIT THE DATA ACCORIDNG TO THAT IN TRAINING AND TESTING ACCORDINGLY
# WHAT RANDOM STATE DOES IS IT GENERATES THE SAME RANDOM NUMBERS FOR BOTH THE SPLITS SO NOW THE DATA GOING IN TRAINING OF ONE
# WOULD BE THE SAME AS THE DATA GOING INTO TRAINING OF OTHER AND SAME WITH THE TESTING DATA AS WELL

In [97]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg2 = LinearRegression()

In [98]:
alg1.fit(X_train,Y_train)
alg2.fit(X2_train,Y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [99]:
Y_pred = alg1.predict(X_test)
Y2_pred = alg2.predict(X2_test)

In [100]:
print("Score of the training data is " , alg1.score(X_train,Y_train))
print("Score of the testing data is ", alg1.score(X_test,Y_test))

Score of the training data is  0.7697699488741149
Score of the testing data is  0.6354638433202129

In [101]:
print("Score of the NEW training data is " , alg2.score(X2_train,Y2_train))
print("Score of the NEW testing data is ", alg2.score(X2_test,Y2_test))

Score of the NEW training data is  0.7707245449911091
Score of the NEW testing data is  0.6433109272342966

In [112]:
name = df.columns[0]
i,j = 0,1
df[i,j] = df[name]
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_AGE,"(0, 1)"
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545,3.613524
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164,8.601545
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000,0.006320
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500,0.082045
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000,0.256510
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500,3.677083
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000,88.976200

In [113]:
del df[0,1]
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_AGE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

# BELOW TWO COLUMNS ARE USED TO ADD DIFFERENT FEATURES USING FOR LOOPS

In [117]:
for i in range(13):
    name = df.columns[i]
    df[i] = df[name] ** 2
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,0.069170,0.321088,39.989325,5493.309545,18.827601,166.857708,195006.197628,345.284447,135534.645253,210.993989
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,0.253994,0.139213,9.079531,3449.600164,21.136892,243.664149,157613.919181,76.318094,41830.850997,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,0.000000,0.148225,12.680721,8.410000,1.275996,1.000000,34969.000000,158.760000,0.102400,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,0.000000,0.201601,34.639111,2027.252500,4.410735,16.000000,77841.000000,302.760000,140908.274275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,0.000000,0.289444,38.545473,6006.290000,10.287804,25.000000,108900.000000,362.905000,153225.273700,129.050000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,0.000000,0.389376,43.870759,8850.107500,26.921407,576.000000,443556.000000,408.040000,156994.250700,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,1.000000,0.758641,77.088400,10000.000000,147.052002,576.000000,505521.000000,484.000000,157529.610000,1441.720900

In [120]:
for i in range(13):
    for j in range(i+1,13):
        name1 = df.columns[i]
        name2 = df.columns[j]
        df[i,j] = df[name1] * df[name2]
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,"(8, 9)","(8, 10)","(8, 11)","(8, 12)","(9, 10)","(9, 11)","(9, 12)","(10, 11)","(10, 12)","(11, 12)"
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.00000,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,5231.539526,184.982806,3053.44749,151.154644,7702.055336,138823.11502,5818.871146,6547.619334,239.290334,4274.823238
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,6418.517581,180.171923,2960.05577,196.562582,3732.003358,64619.91997,5083.126041,1837.557901,145.807763,2613.501822
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,198.000000,13.600000,7.68000,3.160000,2692.800000,213.12000,498.960000,6.464000,25.431000,5.580800
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,1136.500000,73.500000,1483.70250,30.050000,4913.600000,101240.04000,2051.340000,6140.250000,122.942000,2355.214275
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,1790.000000,84.800000,1933.35000,57.630000,5924.100000,119658.91500,3724.380000,7078.025500,205.030000,3804.722600
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,15984.000000,484.800000,2778.30000,171.480000,13453.200000,160982.30250,8489.782500,7695.286500,334.360500,5640.628650
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,15984.000000,484.800000,9525.60000,911.280000,14291.100000,282195.90000,25288.020000,8421.600000,766.994000,15070.293000

In [134]:
X3 = df.values

In [153]:
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y, random_state = 0)
X2_train,X2_test,Y2_train,Y2_test = model_selection.train_test_split(X2,Y, random_state = 0)
X3_train,X3_test,Y3_train,Y3_test = model_selection.train_test_split(X3,Y, random_state = 0)

In [154]:
alg3 = LinearRegression()
alg1.fit(X_train,Y_train)
alg2.fit(X2_train,Y2_train)
alg3.fit(X3_train,Y3_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [155]:
Y_pred = alg1.predict(X_test)
Y2_pred = alg2.predict(X2_test)
Y3_pred = alg3.predict(X3_test)

In [156]:
print("Score of the training data is " , alg1.score(X_train,Y_train))
print("Score of the testing data is ", alg1.score(X_test,Y_test))

Score of the training data is  0.7697699488741149
Score of the testing data is  0.6354638433202129

In [157]:
print("Score of the NEW training data is " , alg2.score(X2_train,Y2_train))
print("Score of the NEW testing data is ", alg2.score(X2_test,Y2_test))

Score of the NEW training data is  0.7707245449911091
Score of the NEW testing data is  0.6433109272342966

In [158]:
print("Score of the final NEW training data with all the new features is " , alg2.score(X2_train,Y2_train))
print("Score of the final NEW testing data with all the new features is ", alg3.score(X3_test,Y3_test))

Score of the final NEW training data with all the new features is  0.7707245449911091
Score of the final NEW testing data with all the new features is  0.6074721959776976